doctype html
html(lang='en')
  head
    title Plenary Server
    link(rel='stylesheet', type='text/css', href=assetBundle("main", "css"))
    script(type='text/javascript').
      window.VERTO_CONF = {
        conferenceId: "!{conferenceId}",
        mode: "!{mode}",
        socketUrl: "!{options.socketUrl}",
        stunServer: "!{options.stunServer}",
        plenaryUsername: "!{options.plenaryUsername}",
        plenaryPassword: "!{options.plenaryPassword}",
        dialplanDestinationNumber: "!{options.dialplanDestinationNumber}"
      };
  body
    .container
      video#video
    script(src=assetBundle("main", "js"))
