doctype html
html(lang='en')
  head
    title Plenary Server
    link(rel='stylesheet', type='text/css', href=assetBundle("main", "css"))
  body
    #app
    script(src=assetBundle("main", "js"))
    script(type='text/javascript').
      renderPlenaryVideo({
        conferenceId: "!{conferenceId}",
        mode: "!{mode}",
        socketUrl: "!{options.socketUrl}",
        stunServer: "!{options.stunServer}",
        plenaryUsername: "!{options.plenaryUsername}",
        plenaryPassword: "!{options.plenaryPassword}",
        dialplanDestinationNumberPrefix: "!{options.dialplanDestinationNumberPrefix}",
        tag: 'app'
      });
